body{
    text-align: center;
   background-color: #FFD6E0;
   font-family: 'Stylish', sans-serif;
   font-size: 18px
}

.button .btn {
    background-color:#90F1EF; 
    border:2px rgb(68, 66, 66) solid;
    font-family: 'Stylish', sans-serif;
    color: black;
}


.jumbotron {
    background-image: url("https://media4.s-nbcnews.com/j/newscms/2018_46/2643361/181112-woman-running-alone-se-1259p_0e2c610f7132c16e747f0e636cb8a642.fit-1240w.jpg");
     text-align: center;
    color:white;
    background-size: cover;
    background-position: center;
}
.jumbotron p {
    background-color:rgb(0,0,0, 0.6);
}


#paragraphs {
    background-color: rgb(230, 153, 167);
  padding: 10px;
  margin: 20px;
  border: solid rgba(156, 149, 149, 0.746);
   font-family: 'Stylish', sans-serif;

}


.nav {
    background-color:#90F1EF;
}

.list {
  
  padding: 10px;
  margin: 10px;
  border: solid black;
    list-style-position:inside;
}