
body{
    background-color: #FFD6E0;
    font-family: 'Stylish', sans-serif;
}

#forms{

    border-style: dotted;
    margin-top:10px;
     margin-left:10px;
      margin-right:10px;
       margin-bottom:10px;
       padding-bottom: 10px;
        padding-right: 10px;
         padding-left: 10px;
          padding-top: 10px;
}


#meeting {

 border-style: double;
    margin-top:10px;
     margin-left:10px;
      margin-right:10px;
       margin-bottom:10px;
       padding-bottom: 10px;
        padding-right: 10px;
         padding-left: 10px;
          padding-top: 10px;

}



#starter{

    color: black;



}


 

    h1 {
      color: #7BF1A8;


    }



   
#submitButton{

    background-color: #90F1EF;


}


.card{

  color:#FFD6E0;
  font-size: 18px;
  background: url("http://www.pitchvision.com/files/image/!stream2/teamwork.jpg"); 
 margin-bottom: 10px;
 margin-left: 10px;


}


#cards{
border-style: solid;
    margin-top:10px;
     margin-left:10px;
      margin-right:10px;
       margin-bottom:10px;
       padding-bottom: 10px;
        padding-right: 10px;
         padding-left: 10px;
          padding-top: 10px;

}





.padding {

  padding:10px;  
}

h1{
    text-align: center;
}

.nav {
    background-color:#90F1EF;